<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	
	<!-- pagehelper插件 -->
	<plugins>
	  <plugin interceptor="com.github.pagehelper.PageInterceptor">
	  </plugin>
	</plugins>
	
	<!-- 如果在Spring里已配置了mapper，则这里不要重复配置，会抛异常 -->
<!-- 	<mappers> -->
<!-- 		<mapper resource="mapper/EmployeeMapper.xml"/> -->
<!-- 	</mappers> -->

</configuration>